#page-home header { 
    width: 72%;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 25vh;
}

#page-home .img {
    position: absolute;
    left: 55vw;
    top: 35vh;
}

#page-home .logo {
    margin: 10px;
}

#page-home header h2 {
    font-size: 50px;
    padding-top: 30px;
    color: var(--title-color);
}

#page-home header p {
    font-size: 20px;
    color: var(--text-color);
    margin-top: 35px;
}

#page-home .button {
    display: grid;
    grid-template-columns: 350px;
    margin-top: 50px;
    gap: 20px;
}

#page-home .search a {
    width: 110%;
    background: var(--primary-color);
    color: black;
    font-weight: 700;
    font-size: 25px;
    height: 50px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    transition: 1200ms;
}

#page-home .search a:hover {
    background-color: var(--after-color);
}

#page-home .search a span {
    width: 50px;
    height: 100%;
    background-color: var(--after-color);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page-home .search a span::after {
    content:"";
    background-image: url('/styles/search-location-solid.svg');
    width: 25px;
    height: 25px;
    
}
#page-home .search a strong {
    flex: 1;
    text-align: center;
    width: 300px;
}


#page-home .add a {
    width: 110%;
    background: var(--primary-color);
    color: black;
    font-weight: 700;
    font-size: 25px;
    height: 50px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    transition: 1200ms;
}

#page-home .add a:hover {
    background-color: var(--after-color);
}

#page-home .add a span {
    width: 50px;
    height: 100%;
    background-color: var(--after-color);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page-home .add a span::after {
    content:"";
    background-image: url('/styles/plus-solid.svg');
    width: 25px;
    height: 30px;
    
}
#page-home .add a strong {
    flex: 1;
    text-align: center;
    width: 300px;
}