:root {
    --title-color: #38b0c0;
    --primary-color: #dcf6ff;
    --after-color: #a4ffff;
    --text-color: #2F4F4F;
    --back-color: #0564641a;
    --second-color: #caf8e5;
    --after-second-color: #8bffd3;
    --click-color: #47f2f5;

}

* {
    margin: 0;
    padding: 0;
}

html {font-family: 'Balsamiq Sans', cursive;}

body{
    background: #0564641a;
    -webkit-font-smoothing: antialiased;
    width: 100%;
}

a {
    text-decoration: none;
}

