@media (max-width: 900px) {
    #page-home {
        height: 120vh;
    }

    #page-home img {
        display: flex;
        width: -webkit-fill-available;
    }  

    #page-home .content {
        display: block;
        align-items: center;
        text-align: center;
    }

    #page-home .content h2 {
        font-size: 30px;
        margin-top: 30px;
    }

    #page-home .add {
        margin-top: 10px;
    }

    #page-home main {
        align-items: center;
    }

    #page-home main h1 {
        font-size: 50px;  
        margin-top: 25px;
    }

    #page-home .button {
        display: block;
    }  

}