@media (max-width: 738px) {
 
    #page-home .img {
        position: initial;
        display: flex;
        justify-content: center;
        margin-top: 20px;
    } 

    #page-home header {
        margin-top: auto;
    }

    #page-home .logo {
        display: flex;
        justify-content: center;
    }

    #page-home .content {
        width: max-content;
        display: block;
        align-items: center;
        text-align: center;
    }

    #page-home .content h2 {
        font-size: 30px;
        margin-top: 30px;
    }

    #page-home .add {
        margin-top: 10px;
    }

    #page-home main {
        align-items: center;
    }

    #page-home .button {
        justify-content: center;
    }  

    #page-create-point header {
        display: block;
        /* text-align: center;
        transform: translateX(50%); */
    }
    #page-create-point a {
        display: none;
    }
    #page-create-point header h2 {
        display: none;
    }
    #page-create-point header img {
        display: flex;
        width: 100%;
        width: -webkit-fill-available;
    }

    #page-search-results main .cards {
        grid-template-columns: 1fr;
    }

    #page-search-results main .cards img {
        height: 200px;
    }

    #page-search-results header {
        display: block;
        text-align: center;
    }

    #page-search-results header a {
        
    }
}
