@media (max-width: 768px) {

    #page-home {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #page-home header h2 {
      padding-top: unset;
    }
 
    #page-home .img {
        position: initial;
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    #page-home .img img{
      width: 100%;
    }

    #page-home header {
      margin-top: auto;
      width: unset;
    }

    #page-home .logo {      
        display: flex;
        justify-content: center;
    }

    #page-home .logo img {      
      width: 100%;
    }

    #page-home .content {
        width: 80%;
        display: block;
        align-items: center;
        text-align: center;
    }

    #page-home .content h2 {
        font-size: 40px;
        margin-top: 30px;
    }

    #page-home main {
        align-items: center;
    }

    #page-home .button {
        justify-content: center;
        width: 100%;
        margin-top: 20px;
        grid-template-columns: 100%;
        gap: 10px;
    }

    #page-home .button .search {
      width: 100%;
    }

    #page-home .search a {
      width: 100%;
    }

    #page-home .search a strong {
      font-size: 0.7em;
    }

    #page-home .add a strong {
      font-size: 0.7em;
    }

    #page-home .add {
      margin-top: 10px;
    }

    #page-home .add a {
      width: 100%;
    }

    #page-create-point header img {
      width: 70%;
    }

    #page-create-point a {
      width: 70px;
      font-size: 15px;
      height: 35px;
    }

    #page-create-point a span::after {
      width: 15px;
      height: 15px;
    }

    #page-create-point .content {
      width: 80%;
      align-items: center;
      text-align: center;
    }

    #page-create-point form {
      padding: 25px;
    }

    #page-create-point form .field-group{
      display: block;
    }

    #page-create-point form .field-group .field + .field {
      margin-left: unset;
    }

    #page-create-point .items-grid li {
      height: 120px;
      width: 100px;
      padding: 18px 6px 4px;
    }

    #page-create-point .items-grid li img {
      height: 65px;
    }

    #page-search-results main .cards {
        grid-template-columns: 1fr;
    }

    #page-search-results main .cards img {
        height: 200px;
    }

    #page-search-results header img {
      width: 70%;
    }

    #page-search-results a {
      width: 70px;
      font-size: 15px;
      height: 35px;
    }

    #page-search-results a span::after {
      width: 15px;
      height: 15px;
    }

    #page-search-results main .cards {
      grid-template-columns: 1fr;
    }

}

@media (max-width: 500px) {
  
  #page-create-point .items-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  #page-create-point form legend {
    display: block;
    margin-bottom: 10px;
  }
}

@media (max-width: 360px) {

  #page-create-point .items-grid li {
    height: 100px;
    width: 80px;
    padding: 18px 6px 4px;
  }

  #page-create-point .items-grid li img {
    height: 50px;
  }
}